.mymodal {
    color: #000000;
    background-color: #ffffff;
    border-style: solid;

}
.mymodal .closeButton{
  background-color: red;
}
#modal-button{
  font-size:small;
  background-color:#188459;
  color: #ffffff;
  margin:10px;
  margin-top: 0;
  width: 60px;
}

#modal-button:hover{
  background-color:#b28900;
}

#close-btn{
  cursor: pointer;
}
