#button-login{
  background-color: #188459;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
}


#button-login:hover {
  background-color: #205C41;
}

#error-field{
  display: none;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  border-color: red;
  background-color: #FAEBD7;
  color: red;
  padding: 5px;
}

#loader{
  display: none;
}

@media screen and (min-height: 600px) and (min-width: 800px){
  #log-form{
    padding-top: 30%;
  }
}