#button-login{
  background-color: #188459;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
}

#loginPW-field{
  position: relative;
}


#button-login:hover {
  background-color: #205C41;
}

#ulogin-error-field{
  display: none;
  margin: 20px;
}

#backToLogin{
  display: none;
}

#ulogin-msg-field{
  text-align: center;
  padding: 10px;
}

#resetPWUser{
  display: none;
}

#togglePW{
  position:absolute;
  cursor: pointer;
  right: 10px;
  bottom: 5px;
  color: #188459;
}

#fail-icon{
  display: none;
  color: red;
}

#loader{
  display: none;
}

@media screen and (min-height: 600px) and (min-width: 800px){
  #l-form{
    padding-top: 25%;
  }
}