#button-login{
  background-color: #188459;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
  margin: 2%;
}


#button-login:hover {
  background-color: #205C41;
}

#error-field{
  display: none;
  border-style: solid;
  border-width: thin;
  border-radius: 10px;
  border-color: red;
  background-color: #FAEBD7;
  color: red;
  padding: 5px;
}

#loader{
  display: none;
}
