#Home{
	background-color: #ffffff;
	margin: 3%;
	padding: 2%;
	min-height: 70vh;
	border-radius: 20px;
	color:#355c7d;
}

#profile{
	border-right: solid;
	height: 410px;
	width: 300px;
}

#pic{
	width: 40%;
}

#profile-info{
	background-color: #ffffff;
	margin: 4%;
	padding: 2%;
}


#profile-info .p{

	max-width: 96vw;
	
}

.token-error{
  font-size: 40px;
  color: red;
  text-align: center;
}