#left{
   background-color:#355c7d;
}

#right{
   background-color:#ffffff;  
}


.logo{
   text-decoration: 'none';
   font-size: 6vw;
   font-family:Fantasy;
   color: #ffffff;
   margin-top: 5vw;
   margin-bottom: 5vw;
   }

.form{
      border-style: solid;
      border-radius: 20px;
      border-color:  #355c7d;
      color: #355c7d;

      align-items: center;
      padding: 4%;
      margin-top: 3vh;
   }

@media screen and (min-height: 500px) and (min-width: 600px){
   .logo{

      text-decoration: 'none';
      font-size: 6vw;
      font-family:Fantasy;
      color: #ffffff;
      margin-top: calc(50vh - 2em);
   }

   .logo:hover{
      color: #ffffff;
   }

   .form{
      padding: 4%;
      margin-left: 22%;
      margin-top: 3vh;
      width: 36vw;
   }
}