#left{
   background-image: url("../Pics/BTP.jpg");
   margin: 0%;
   padding: 0%;
}

#right{
   background-color:#ffffff;
   margin: 0%;
   padding: 0%;
}

#contactButton{
   position:relative;
   left: 40%;  
}

#contactButton.hover{
   color: #22470f;
}


#homeButton{
   position:relative;
   left: 5%;
   top: 10%;
}

.logo{
   color: #ffffff;
   padding-top: 5%;
}


.form{
      color: #000000;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
}

#title{
   font-size: 4em;
   text-align: center;
   text-decoration: underline;
   padding-top: 5%;
}

#title span{
   text-decoration: none;
   color: #7eb9a3;
}

.form{
      align-items: center;
      padding: 5%;
}

#animatedText{
   text-align: center;
   color: #ecfd00;
   padding-top: 5%;
}

#docButtonCon{
   text-align: center;
   padding-top: 5%;
   padding-bottom: 5%;
}

#text{
   padding-top: 3%;
   text-align: center;
}

@media screen and (min-height: 500px) and (min-width: 600px){
   .logo{
      width: 100%;
      height: 100%;
      background-image: url('../Pics/BT.jpg');  
      color: #ffffff;
   }
   .form{
      background-color: #ffffff;
      width:100%;
      height: 100%;   
   }

   #title{
      font-size: 6em;
   }

   .footer{
      margin-top: 30%;
   }
}