@import url('https://unpkg.com/leaflet@1.7.1/dist/leaflet.css');

.leaflet-container{
	margin: 2%;
	width: 95vw;
	height: 80vh;
	border-radius: 20px;
	transition: width 0.3s;
}

#map-loader{
	margin-top: 30vh;
	color: #188459;
}

@media only screen and (max-width: 600px) {
    .leaflet-container{
    	margin: 0;
    	margin-top: 5vh;    
    }

	#map-loader{
		margin-left: 35vw;
	}
  }