#button-submit{
    background-color: #188459;
    color: #ffffff;
    cursor: pointer;
    width: 100%;
}

#pwr{
    margin-top: 10%;
}

#button-reset-pw{
    background-color: #188459;
    color: #ffffff;
    cursor: pointer;
    width: 100%;
}

#error-field{
    display: none;
    margin: 20px;
}

#backtoHome{
    display: none;
}
  
#button-reset-pw:hover {
    background-color: #205C41;
}
  
  
#button-submit:hover {
    background-color: #205C41;
}
  
  
#suc-field{
    display: none;
    margin: 10px;
}
#msg-field{
    text-align: center;
}
  
#suc-icon{
    display: none;
    color: #188459;
}
#fail-icon{
    display: none;
    color: red;
}

#reset-error-field{
    margin-top: 20px;
}

#resendUR{
    display: none;
}
  
#loader{
    display: none;
}
  
#conLet{
    background-color: #e9c437;
}

@media screen and (min-height: 500px) and (min-width: 600px){
    #pw-reset-rq-form{
        margin-top: 25%;
    }
    #pw-reset-form{
        margin-top: 25%;
    }
}