#admin-button-reg{
  background-color: #188459;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
}


#admin-button-reg:hover {
  background-color: #205C41;
}

#reg-error-field{
  margin: 10px;
}

#suc-field{
  margin: 10px;
}

#armsg-field{
  text-align: center;
}

#suc-icon{
  display: none;
  color: #188459;
}
#fail-icon{
  display: none;
  color: red;
}

#loader{
  display: none;
}

#contactus{
  display: none;
}

#loginhere{
  display:none;
}

@media screen and (min-height: 500px) and (min-width: 800px){
  #admin-reg-form{
    margin-top: 18%;
  }
  #suc-icon{
    margin-top: 45%;
  }
  #fail-icon{
    margin-top: 45%;
  }
}