#admin-button-reg{
  background-color: #355c7d;
  border-color: #355c7d;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
  margin: 2%;
}


#admin-button-reg:hover {
  background-color: #45A29E;
}

.admin-reg-error{
  font-size: 40px;
  color: red;
}

.admin-reg-success{
  font-size: 40px;
  color: yellow;
}