.items{
	
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 90%;
	padding: 2%;
	margin: 2%;
	padding: 5%;
	margin-bottom: 5%;
	cursor: pointer;
}
.items:hover{

	cursor: pointer;
	background-color: #7eb9a3;
  	color: #000;

}

.items-active{

	background-color: #188459;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 90%;
	color: black;
	padding: 5%;
	margin-bottom: 5%;
	cursor: pointer;

}
#buttons{
	margin: 0;
}

#requests{
	padding: 5%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	min-height: 88vh;
}
#profile-informations{
	padding-left: 3% ;
	margin-top: 10vh;
	height: 70vh;
}
.view{
	background-color: #355c7d;
  	border-color: #355c7d;
  	color: #ffffff;
  	cursor: pointer;
}

.view:hover{
	background-color: #45A29E;
}
.control{
	background-color:  #188459;
  	color: #ffffff;
  	margin: 1%;
  	cursor: pointer;
}

.control:hover{
	background-color: #7eb9a3;
  	color: #000;
}

.letter{
	cursor: pointer;
	margin-left: 2%;
	width: 33vw;
}
#letter-container{
	height: 75vh;
	overflow-y: scroll;
}

#button-div{
	text-align: center;
}

.none-style-list{
	list-style: none;
}

#textarea{
	display: none;
}

@media only screen and (max-width: 600px) {
	#requests{
		min-height: 0;
	}

	.items{
		margin-left: 0px;
		width: 90%;
	}

	.items-active{
		margin: 0;
		margin-bottom: 5%;
		width: 90%;
	}

	#profile-informations{
		margin: 5vw;
		padding: 0;
		height: 100%;
	}

	.letter{
		width: 90vw;
		margin-top: 20px;
	}
  }