.items{
	
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 90%;
	color: black;
	padding: 5%;
	margin-bottom: 5%;
	transition: background-color 1s ease-out 100ms;
	cursor: pointer;
}
.items:hover{
	
  	background-color: green;

}

.items-active{

	background-color: #355c7d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	font-size: 90%;
	color: black;
	padding: 5%;
	margin-bottom: 5%;
	cursor: pointer;

}
#buttons{
	margin: 0;
}

#requests{
	padding: 5%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	min-height: 88vh;
}
#profile-informations{
	margin-top: 10vh;
	height: 70vh;
}
.view{
	background-color: #355c7d;
  	border-color: #355c7d;
  	color: #ffffff;
  	cursor: pointer;
}

.view:hover{
	background-color: #45A29E;
}
.control{
	background-color: #355c7d;
  	border-color: #355c7d;
  	color: #ffffff;
  	margin: 1%;
  	cursor: pointer;
  	max-width: 40%;
}

.control:hover{
	background-color: #45A29E;
}

.letter{
	height: 60vh;
	border-style: solid;
	cursor: pointer;

}

#button-div{
	text-align: center;
}

.none-style-list{
	list-style: none;
}

#textarea{
	display: none;
}