@import url('https://fonts.googleapis.com/css?family=Kanit');
body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.active-tab{
    background-color: #7eb9a3;
}

#header-admin {

    position: absolute;
    width: 0px;
  }
  
#header-admin .closemenu {
    color: #fff;
    font-size: 50px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 12px;
  }
  
#header-admin .pro-sidebar {
    width: 100%;
    min-width: 100%;
    height: 88vh;
  }
  
#header-admin .pro-sidebar.collapsed {
    width: 220px;
    min-width: 220px;
  }
  
#header-admin .pro-sidebar-inner {
    background-color: #205C41;

  }
  
#header-admin .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
  }

#header-admin .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 5px;
  }
  
#header-admin .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: #fff;
    margin: 10px 0px;
    font-weight: bold;
  }
  
#header-admin .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    background-color: #fff;
    color: #000;
    border-radius: 3px;
  }

#header-admin .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: #66FCF1
  }

#header-admin .pro-sidebar-inner .pro-sidebar-layout ul li :hover{
    background-color: #7eb9a3;
    color: #000;
  }

#button {
  background-color: #45A29E;
  color: #FFFFFF;
  cursor: pointer;
  width: 100%;
  margin: 2%;
}


#button:hover {
  background-color: #1F2833;
  color: #66FCF1
}

#admin-content{
    background-image: url("../../Pics/Db.jpg");
}

#admin-content-header{
    position: relative;
    height: 12vh;
    background-color:#188459;
    align-items: center;
}

#menu{
  background-color: #e9c437;
  color: #000000;
  cursor: pointer;
  position:absolute;
}

#menu:hover {
  background-color:#b28900;
  color: #ffffff;
}

#profile-data{
  position:absolute;
  right: 5vw;
  bottom: 4vh;
  width:55px;
  height: 38px;
  margin-right: 20px;
}

#admin-content-body{
    margin-left: 0px;
    background: rgba(76, 175, 80, 0.2);
    transition: margin-left 0.3s; 
    min-height: 88vh;
}

#admin-content-logo{
    font-family: "Kanit", sans-serif;
    color: #ffffff;
}

#admin-usr-x{
    display: none;
}

.dropdown-menu{
    padding: 5%;
    background: #7eb9a3;
    color: #ffffff;
}

#content-logo a{
    text-decoration: none;
    color: #ffffff;
}

@media screen and (min-height: 500px) and (min-width: 800px){
  #menu{
    width: 120px;
  }
  #profile-data{
    margin-right: 0;
  }
}
/*
@media only screen and (max-width: 720px) {
    html {
      overflow: hidden;
    }
  }

*/