html {
  overflow-y: scroll; 
}

#usr-header {

    position: absolute;
    width: 0px;
  }
  
#usr-header .closemenu {
    color: #fff;
    font-size: 50px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 12px;
  }
  
#usr-header .pro-sidebar {
    width: 100%;
    min-width: 100%;
    height: 88vh;
  }
  
#usr-header .pro-sidebar.collapsed {
    width: 220px;
    min-width: 220px;
  }
  
#usr-header .pro-sidebar-inner {
    background-color: #45A29E;

  }
  
#usr-header .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
  }

#usr-header .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 5px;
  }
  
#usr-header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: #fff;
    margin: 10px 0px;
    font-weight: bold;
  }
  
#usr-header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    background-color: #fff;
    color: #000;
    border-radius: 3px;
  }

#usr-header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: #66FCF1
  }

#usr-header .pro-sidebar-inner .pro-sidebar-layout ul li :hover{
    background-color: #355c7d;
    color: #66FCF1
  }

#usr-header .pro-sidebar-inner .pro-sidebar-layout ul li :active{
    background-color: #1F2833!important;
  }

#button-user{
  background-color: #45A29E;
  color: #FFFFFF;
  cursor: pointer;
  width: 100%;
  margin-left: 6%;
}


#button-user:hover {
  background-color: #1F2833;
  color: #66FCF1;
}

#content{
    background-color: #1F2833;
    transition: margin-left 0.3s;
    max-width: vw;
}


#content-header{
    height: 10vh;
    background-color:#355c7d;
    align-items: center;
    max-width: 100vw;
}

#content-body{
    background-color:#1F2833 ;
    min-height: 88vh;
}

#content-logo{
    color: #66FCF1
}

#usr-x{
    display: none;
}

/*
@media only screen and (max-width: 720px) {
    html {
      overflow: hidden;
    }
  }

*/
