@import url('https://fonts.googleapis.com/css?family=Kanit');

html {
  overflow-y: scroll; 
}

.active-tab{
    background-color: #7eb9a3;
}

#usr-header {

    position: absolute;
    width: 0px;
  }
  
#usr-header .closemenu {
    color: #fff;
    font-size: 50px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 12px;
  }
  
#usr-header .pro-sidebar {
    width: 100%;
    min-width: 100%;
    height: 90vh;
  }
  
#usr-header .pro-sidebar.collapsed {
    width: 220px;
    min-width: 220px;
  }
  
#usr-header .pro-sidebar-inner {
    background-color: #205C41;

  }
  
#usr-header .pro-sidebar-inner .pro-sidebar-layout {
    overflow-y: hidden;
  }

#usr-header .pro-sidebar-inner .pro-sidebar-layout ul {
    padding: 0 5px;
  }
  
#usr-header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
    color: #fff;
    margin: 10px 0px;
    font-weight: bold;
  }
  
#usr-header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
    background-color: #fff;
    color: #000;
    border-radius: 3px;
  }

#usr-header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
    color: #66FCF1
  }

#usr-header .pro-sidebar-inner .pro-sidebar-layout ul li :hover{
    background-color: #7eb9a3;
    color: #000;
  }

#button-user{
  background-color: #e9c437;
  color: #000000;
  cursor: pointer;
  width: 50%;
  margin-left: 10%;
}


#button-user:hover {
  background-color:#b28900;
  color: #ffffff;
}

#content{
    background-image: url("../../Pics/Db.jpg");
}

#content-header{
    height: 10vh;
    background-color:#188459;
    align-items: center;
    max-width: 100vw;
}

#content-body{
    margin-left: 0px;
    background: rgba(76, 175, 80, 0.2);
    transition: margin-left 0.3s; 
    min-height: 90vh;
}

#content-logo{
    font-family: "Kanit", sans-serif;
    color: #ffffff;
}

#usr-x{
    display: none;
}

.dropdown-menu{
    padding: 5%;
    background: #7eb9a3;
    color: #ffffff;
}

#content-logo a{
    text-decoration: none;
    color: #ffffff;
}
/*
@media only screen and (max-width: 720px) {
    html {
      overflow: hidden;
    }
  }

*/
