#button-reg{
  background-color: #188459;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
  margin: 2%;
}


#button-reg:hover {
  background-color: #205C41;
}

#reg-error-field{
  color: red;
  margin: 10px;
}

#suc-field{
  margin: 10px;
}
#msg-field{
  text-align: center;
}

#suc-icon{
  display: none;
}
#fail-icon{
  display: none;
}

#loader{
  display: none;
}

#conLet{
  background-color: #e9c437;
}