#button-reg{
  background-color: #188459;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
}


#button-reg:hover {
  background-color: #205C41;
}

#ureg-error-field{
  margin: 10px;
}

#suc-field{
  margin: 10px;
}
#urmsg-field{
  text-align: center;
}

#suc-icon{
  display: none;
  color: #188459;
}
#fail-icon{
  display: none;
  color: red;
}

#loader{
  display: none;
}

#conLet{
  background-color: #e9c437;
}

#backToRegister{
  display: none;
}


@media screen and (min-height: 500px) and (min-width: 800px){
  #reg-form{
    padding-top: 15%;
  }

  #suc-icon{
    margin-top: 20%;
  }

  #fail-icon{
    margin-top: 20%;
  }
}