body{
	overflow-y: hidden;
}

#device-list{
	list-style: none;
	margin-top: 20px;
}

#connected{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#new-dev{
	height: 70vh;
}

.device{
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 2%;
	margin: 2%;
}

.device:hover{
	cursor: pointer;
	background-color: #7eb9a3;
  color: #000;
}

.activedev{
	margin: 0;
	background-color: #188459;
}

#dev-form{
	margin: 5%;
	border-style: solid;
	border-color: #188459;
	border-radius: 20px;
	margin-left: 45px;
}

#add-btn{
	margin-left: 45px;
}

#addDevice{
	display: none;
}

.download{
  font-size:small;
  margin:10px;
  width: 60px;
}

.img-thumbnails{
	margin: 2px;
	width: 100%;
	cursor: pointer;
}
.img-thumbnails:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.8s;

  /* When the animation is finished, start again */
  animation-iteration-count: 1;
}

#photos{
	margin-top: 2vh;
	float:left;
	overflow-y: auto;
	height: 85vh;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
}

