#device-tab{
	background-color: #ffffff;
	margin: 3%;
	padding: 2%;
	height: 75vh;
	border-radius: 20px;
	color:#355c7d;
}

#device-list{
	list-style: none;
	margin-top: 20px;
}

#connected{
	min-height: 20vh;
	border-right-style: solid;

}

#new-dev{
	height: 70vh;
}

.device{
	border-style: solid;
	border-radius: 20px;
	padding: 1%;
	margin: 2%;
}

#dev-form{
	margin: 5%;
}